@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Asap:wght@500&family=Merriweather&family=Noto+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
}
section {
    padding: 100px;
}
.banner {
    position: relative;
    min-height: 100vh;
    background: url(homepagebg.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-weight: 700;
    font-size: 1.5em;
}
.banner h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 500;
    font-family: 'Alice', sans-serif !important;
}
.button {
    position: relative;
    background: #ff2941;
    display: inline-block;
    border-radius: 50px;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.8s;
}
.button:hover {
    background: #feff38;
    color: black;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Merriweather', sans-serif !important;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}