@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

body {
    background-image: linear-gradient(240deg, #270245, #871a85, #ff2941);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contact-card {
    position: relative;
    width: 500px;
    height: 300px;
    background: rgba(225, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border-top: 1px solid rgba(225, 255, 255, 0.5);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card:hover {
    transform: scale(1.2);
}
.contact-card::before {
    content: '';
    position: absolute;
}
.contact-card .content {
    position: relative;
    display: flex;
}
.contact-card .content .myimg {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
}